<div>

	<h1>Carrito Id: {{cart._id}}</h1>
	<ul>
		{{#each cart.products}}
			<li>Id: {{product._id}}</li>
			<li>Product: {{product.title}}</li>
			<li>Description: {{product.description}}</li>
			<li>Price: ${{product.price}}</li>
			<li>Thumbnail: {{product.thumbnail}}</li>
			<li>Code: {{product.code}}</li>
			<li>Stock: {{product.stock}}</li>
			<li>Status: {{product.status}}</li>
			<li>Category: {{product.category}}</li>
			<hr />
		{{/each}}
	</ul>

</div>